/* reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  background-color: rgb(76, 104, 76);
}

header{
  font-size: 8rem;
  text-align: center;
}

article{
font-size: 2rem;
}

footer{
  font-size: 1.9rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.WoodlandsBiomes{
  font-size: 35px;
  margin: 10px;
}

.Right{
  font-size: 20px;
  float: right;
  text-align: end;
  margin: 10px;
}

.Left{
font-size: 20px;
text-align: left;
margin: 10px;

}

.Middle{
font-size: 20px;
text-align: center;

}

.FavCave{
  font-size: 35px;
  text-align: center;
}