/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
;
  background-color: rgb(201, 207, 202);
}

header {
  font-size: 8rem;
  text-align: center;
}
.parent {
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.UpperGrid {
  grid-area: 1 / 1 / 2 / 6;
}
.UpperCenter {
  grid-area: 1 / 2 / 2 / 5;
}
.MidSec { grid-area: 2 / 3 / 3 / 4; } 


.dropdown button {
  background-color: rgba(116, 113, 113, 0.521);
  color: black;
  padding: 10px 15px;
  border: none;
  cursor:pointer;
  width: 50vw;
}
.dropdown a{
display: block;
color: black;
text-decoration: none;
padding: 10px 15px;
}
.dropdown .content{
  display: none;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgba(124, 124, 124, 0.491);
  min-width: 0px;
  max-width: 300px;
  box-shadow: 3px 3px black;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.dropdown:hover .content{
  display: block;
}
article {
  font-size: 2rem;
}

footer {
  font-size: 1.9rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.large{
  font-size: 2rem;
}